/* _content/LoveLeeLux/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-a8gmw57nmx] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-a8gmw57nmx] {
    color: #0077cc;
}

.btn-primary[b-a8gmw57nmx] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-a8gmw57nmx], .nav-pills .show > .nav-link[b-a8gmw57nmx] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-a8gmw57nmx] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-a8gmw57nmx] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-a8gmw57nmx] {
    box-shadow: 0 .35rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-a8gmw57nmx] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-a8gmw57nmx] {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px;
    font-size: 14px;
    color: darkgray;
}

body[b-a8gmw57nmx] {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    font-size: 16px;

}

a[b-a8gmw57nmx] {
    text-decoration: none;
    font-size: 1.3rem;
    color: black; 
}

.logo[b-a8gmw57nmx] {
   max-height: 300px; 
   width: auto; 
}




