@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>LoveLeeLux, Inc. ("LoveLeeLux", "us", "we" or “our”) is committed to respecting and protecting the privacy of our Users. We understand and acknowledge that our Users have a legitimate expectation of privacy, 
    including an expectation that we will protect their identities and personal information from disclosure to third parties, and we are committed to upholding that expectation of privacy with very limited exceptions. 
 

    As used herein, the “Site” shall mean our project based website for demonstrative purposes only. In the Site, we provide Users with artificial access to sales of non-consigned luxury items and other related services.

    This Privacy Policy does not cover personal information collected about our Users and should not be viewed as an actual website for consumer purposes.</p>
